@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-body-main {
  min-height: 1250px;
}

main {
  background-color: #CACECA;
}

.dont-share-high-reso {
  display: none;
}

.grid-body-main {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100%;
}

.columna-left-main {
  color: #CACECA;
  background-color: #0A2733; /* Color de fondo para la primera columna */
}

.column-right-main {
  color: #0A2733;
  background-color: #CACECA; /* Color de fondo para la segunda columna */
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  color: #CACECA;
}

strong {
  color: #3E131B;
}

.radio-popup-boton {
  padding-bottom: 3rem;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .grid-body-main {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
  }
  .navbar-primary {
    background-color: #3E131B;
    overflow: hidden;
    font-size: 16px;
  }
  .dont-share-high-reso {
    display: none;
  }
  .columna-left-content .text-pd {
    font-size: 23px;
    line-height: 1.5rem;
  }
  .columna-left-content .txt-monito-coder {
    font-size: 19px;
    line-height: 1.1rem;
  }
  .columna-left-content .monito-coder {
    width: 70%;
    height: 70%;
  }
  .columna-left-content .monito-coder .img-monito-coder {
    width: 70%;
    height: 70%;
  }
  .columna-left-content .pg-cnfg3 {
    justify-content: flex-end;
  }
  .columna-left-content .logo-radio .center-logo-radio {
    margin-bottom: 13px;
    max-width: 100%;
  }
  .column-right-main .animated-title3 {
    font-size: 40px;
  }
  .column-right-main .right-content-body {
    font-size: 25px;
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
  .column-right-main .forte1 {
    font-size: 40px;
  }
  .column-right-main .botom-right-config .animate__animated.animate__fadeIn.animate__delay-4s.radio-popup-boton button {
    width: 250px;
    height: 50px;
  }
  .column-right-main .botom-right-config .animate__animated.animate__fadeIn.animate__delay-4s.radio-popup-boton button img {
    width: 100%;
    height: 100%;
  }
  .footer-content .navbar-footer a {
    padding: 2px 7px;
    font-size: 13px;
  }
  footer .ir-arriba {
    font-size: 10px;
  }
  footer .copy-config {
    font-size: 14px;
  }
  .column-right-main .form-container {
    transform: scale(0.8);
    transform-origin: center center;
    margin: 0 auto;
  }
  .radio-rep {
    padding-bottom: 3rem;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .grid-body-main {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
  }
  .navbar-primary {
    background-color: #3E131B;
    overflow: hidden;
    font-size: 12px;
  }
  .banner-top-main .navbar-primary a {
    padding: 14px 9px;
  }
  .dont-share-high-reso {
    display: none;
  }
  .columna-left-content .text-pd {
    font-size: 20px;
    line-height: 1.5rem;
  }
  .columna-left-content .txt-monito-coder {
    font-size: 16px;
  }
  .columna-left-content .monito-coder {
    width: 70%;
    height: 70%;
  }
  .columna-left-content .monito-coder .img-monito-coder {
    width: 70%;
    height: 70%;
  }
  .columna-left-content .pg-cnfg3 {
    justify-content: flex-end;
  }
  .column-right-main .animated-title3 {
    font-size: 40px;
  }
  .column-right-main .right-content-body {
    font-size: 25px;
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
  .column-right-main .forte1 {
    font-size: 40px;
  }
  .column-right-main .botom-right-config .animate__animated.animate__fadeIn.animate__delay-4s.radio-popup-boton button {
    width: 250px;
    height: 50px;
  }
  .column-right-main .botom-right-config .animate__animated.animate__fadeIn.animate__delay-4s.radio-popup-boton button img {
    width: 100%;
    height: 100%;
  }
  .footer-content .navbar-footer a {
    padding: 2px 3px;
    font-size: 10px;
  }
  footer .ir-arriba {
    font-size: 10px;
  }
  footer .copy-config {
    font-size: 14px;
  }
  .column-right-main .form-container {
    transform: scale(0.8);
    transform-origin: center center;
    margin: 0 auto;
  }
  .radio-rep {
    padding-bottom: 3rem;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  .navbar-primary {
    background-color: #3E131B;
    overflow: hidden;
    font-size: 12px;
  }
  .banner-top-main .navbar-primary a {
    padding: 14px 9px;
  }
  .grid-body-main {
    display: flex;
  }
  .top-img-low-reso {
    display: flex !important;
    background-color: #0A2733;
    justify-content: center;
  }
  .logo-para-top {
    width: 30%;
    height: 30%;
  }
  .grid-body-main .columna-left-main {
    display: none;
  }
  .column-right-main .animated-title3 {
    font-size: 40px;
  }
  .column-right-main .right-content-body {
    font-size: 20px;
    padding-top: 0rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .column-right-main .forte1 {
    font-size: 40px;
  }
  .column-right-main .botom-right-config .animate__animated.animate__fadeIn.animate__delay-4s.radio-popup-boton button {
    width: 250px;
    height: 50px;
  }
  .column-right-main .botom-right-config .animate__animated.animate__fadeIn.animate__delay-4s.radio-popup-boton button img {
    width: 100%;
    height: 100%;
  }
  .footer-content .navbar-footer a {
    padding: 2px 3px;
    font-size: 10px;
  }
  footer .ir-arriba {
    font-size: 10px;
  }
  footer .copy-config {
    font-size: 14px;
  }
  .column-right-main .form-container {
    transform: scale(0.8);
    transform-origin: center center;
    margin: 0 auto;
  }
  .column-right-main .animated-title1, .column-right-main .animated-title2, .column-right-main .animated-title3 {
    font-size: 25px;
    margin-bottom: 2px;
  }
  .column-right-main .animated-title1 {
    padding-top: 1rem;
  }
  .column-right-main p, .column-right-main .p1 {
    margin-bottom: 2px;
  }
  .column-right-main .main-title-b {
    padding-top: 1rem;
  }
  .column-right-main .body-text-envivo {
    font-size: 28px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .radio-rep {
    padding-bottom: 3rem;
  }
  .logo-para-top {
    width: 50%;
    height: 30%;
  }
  .column-right-main .body-text-ausp {
    font-size: 28px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 50px) and (max-width: 479px) {
  .top-img-low-reso .logo-para-top {
    width: 50%;
    height: 30%;
  }
}
@media (min-width: 300px) and (max-width: 479.98px) {
  .navbar-primary {
    background-color: #3E131B;
    overflow: hidden;
    font-size: 12px;
  }
  .banner-top-main .navbar-primary a {
    padding: 14px 9px;
  }
  .grid-body-main {
    display: flex;
  }
  .top-img-low-reso {
    display: flex !important;
    background-color: #0A2733;
    justify-content: center;
  }
  .logo-para-top {
    width: 30%;
    height: 30%;
  }
  .grid-body-main .columna-left-main {
    display: none;
  }
  .column-right-main .animated-title3 {
    font-size: 40px;
  }
  .column-right-main .right-content-body {
    font-size: 20px;
    padding-top: 0rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .column-right-main .forte1 {
    font-size: 40px;
  }
  .column-right-main .botom-right-config .animate__animated.animate__fadeIn.animate__delay-4s.radio-popup-boton button {
    width: 250px;
    height: 50px;
  }
  .column-right-main .botom-right-config .animate__animated.animate__fadeIn.animate__delay-4s.radio-popup-boton button img {
    width: 100%;
    height: 100%;
  }
  .footer-content .navbar-footer a {
    padding: 2px 3px;
    font-size: 10px;
  }
  footer .ir-arriba {
    font-size: 10px;
  }
  footer .copy-config {
    font-size: 14px;
  }
  .column-right-main .form-container {
    transform: scale(0.8);
    transform-origin: center center;
    margin: 0 auto;
  }
  .column-right-main .animated-title1, .column-right-main .animated-title2, .column-right-main .animated-title3 {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .column-right-main .animated-title1 {
    padding-top: 1rem;
  }
  .column-right-main p, .column-right-main .p1 {
    margin-bottom: 2px;
  }
  .column-right-main .main-title-b {
    padding-top: 1rem;
  }
  .column-right-main .body-text-envivo {
    font-size: 28px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .radio-rep {
    padding-bottom: 3rem;
  }
  .column-right-main .body-text-ausp {
    font-size: 28px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .column-right-main .body-text-content-p2 {
    font-size: 26px;
  }
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar-primary {
  background-color: #3E131B;
  overflow: hidden;
}

.navbar-primary ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-primary li {
  float: left;
}

.navbar-primary a {
  display: block;
  color: #CACECA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-primary a:hover {
  background-color: #ddd;
  color: black;
}

.banner-top-main {
  display: flex;
  justify-content: center;
  background-color: #3E131B;
}

.logo-radio {
  display: flex;
  justify-content: center;
  padding: 1rem;
  filter: brightness(4);
}

.center-logo-radio {
  margin-bottom: 13px;
  max-width: 100%;
}

.pg-cnfg3 {
  display: flex;
  justify-content: center;
}

.pg-cnfg1 {
  display: flex;
  justify-content: center;
}

.title-programa-destacado {
  max-width: 70%;
  filter: brightness(4);
}

.img-programa-destacado {
  max-width: 70%;
}

.txt-programa-destacado {
  font-family: "font-printcess";
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 35px;
  text-align: center;
}

.txt-monito-coder {
  font-family: "font-printcess";
  padding-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 23px;
  text-align: center;
}

.img-monito-coder {
  max-width: 60%;
  padding-bottom: 1rem;
}

.text-pd {
  font-size: 35px;
  line-height: 1.9rem;
}

.main-title-b {
  padding-top: 3rem;
  text-align: center;
  font-family: "rockersquad";
  font-size: 50px;
  font-weight: bold;
}

.right-content-body {
  padding-top: 3rem;
  text-align: center;
  font-family: "font-printcess";
  font-size: 40px;
  font-weight: bold;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
}

.animated-title1 {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  font-size: 40px;
}

.animated-title2 {
  font-size: 30px;
}

.animated-title3 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  padding-bottom: 3rem;
}

.forte1 {
  font-size: 65px;
}

.p1 {
  color: #3E131B;
}

.botom-right-config {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-popup-boton {
  padding-bottom: 1rem;
}

.footer-bgd {
  background-color: #3E131B;
  color: #CACECA;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar-footer {
  background-color: #3E131B;
  overflow: hidden;
}

.navbar-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-footer li {
  float: left;
}

.navbar-footer a {
  margin: 8px;
  display: block;
  border-radius: 2rem;
  color: #CACECA;
  text-align: center;
  padding: 2px 16px;
  text-decoration: none;
}

.navbar-footer a:hover {
  background-color: #ddd;
  color: black;
}

.footer-content {
  display: flex;
  justify-content: center;
  background-color: #3E131B;
}

.copyright-bottom {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 6px;
  margin-bottom: 0rem;
  font-size: 15px;
}

.ir-arriba {
  text-align: center;
  font-weight: bolder;
  padding: 3px;
  font-size: 12px;
  bottom: 10px;
  right: 10px;
  position: fixed;
  cursor: pointer;
  margin-bottom: 0.5cm;
  margin-right: 0.5cm;
  color: #3E131B;
  background-color: #CACECA;
  border-radius: 1cm;
  border: 2px solid #0A2733;
  width: auto;
  font-family: "didactgothic-regular";
  text-decoration: none;
  outline: none;
}

.ir-arriba:hover {
  background-color: #3E131B;
  color: #CACECA;
  font-weight: bolder;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #3E131B;
  color: #CACECA;
  font-weight: bolder;
}

.title-progamacion {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "rockersquad";
  font-size: 40px;
}

.grid-item {
  font-family: "didactgothic-regular";
  background-color: #3E131B;
  color: #CACECA;
}

.config-hr {
  border: 2px solid #3E131B;
  opacity: 10;
}

.container {
  background-color: #CACECA;
  color: #3E131B;
  text-align: center;
}

h3 {
  color: #CACECA;
}

.grid-item {
  border: 4px solid #7D2636;
  margin: 10px;
  padding: 10px;
}

.pad-urg {
  padding-bottom: 4rem;
}

@media screen and (max-width: 1100px) {
  .title-progamacion {
    font-size: 30px;
  }
}
@media screen and (max-width: 701px) {
  .title-progamacion {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .grid-body-main {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .title-progamacion {
    font-size: 10px;
  }
}
.body-text-ausp, .body-text-content-p2 {
  text-align: center;
  font-family: "font-printcess";
  font-size: 40px;
  font-weight: bolder;
}

.body-text-content-p2 {
  text-decoration: underline;
  text-decoration-color: #7D2636;
  margin-bottom: 2rem;
}

.config-carousel {
  margin: 3rem;
  border: 20px solid #7D2636;
  border-radius: 2rem;
}

.body-text-envivo {
  text-align: center;
  font-family: "font-printcess";
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 3rem;
}

.radio-rep {
  text-align: center;
}

.form-container {
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: #0A2733;
  padding: 20px;
  border-radius: 10px;
}

.form-style-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  color: #CACECA;
  font-weight: bold;
}

.form-group {
  text-align: center;
  margin: 15px;
}

.form-group select {
  height: 100px; /* Ajusta la altura según tus preferencias */
}

.preview-container {
  margin-top: 20px;
}

.preview {
  background-color: #3E131B;
  color: #CACECA;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.f-g-confg {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.estilos {
  display: flex;
}

.btn-group {
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 0px !important;
}

.btn-group-vertical {
  margin-top: 10px; /* Ajusta según sea necesario */
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 150%;
}

.btn-group-vertical .btn {
  margin-bottom: 5px; /* Ajusta según sea necesario */
}

button {
  display: flex;
  margin: 0px !important;
}

.preview {
  font-weight: bold;
}

.btn {
  background-color: #0A2733;
}

.btn-snd {
  background-color: #CACECA;
  color: #0A2733;
  font-weight: bold;
  border-color: #3E131B;
}

.btn-snd:hover {
  background-color: #7D2636;
  color: #533956;
  border-color: #7D2636;
  font-weight: bold;
}

.btn-snd:active {
  background-color: #333 !important;
  color: #CACECA !important;
  font-weight: bold !important;
  border-color: #533956 !important;
}

.btn:hover {
  background-color: #3E131B;
  color: #CACECA;
  font-weight: bold;
}

.form-style-1, .form-style-2, .form-style-3 {
  display: flex;
  flex-direction: column;
  width: 55%;
  font-weight: bold;
}

.form-style-4 {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.btnsubmit {
  margin-top: 1rem;
}

.btn-danger {
  font-weight: normal;
  padding: 2px;
  border-color: #CACECA;
}

.rpb-configcontacto {
  padding-top: 3rem;
}

.fila {
  display: block;
  padding: 1rem;
  color: #CACECA;
  background-color: #3E131B;
  transition: filter 0.3 ease;
}

.fila.blurred {
  filter: blur(1px);
}

.botones-izquierda:hover {
  background-color: #3E131B;
  cursor: pointer;
}

.fila:hover {
  color: #CACECA;
  background-color: #533956;
  cursor: pointer;
}

.fila:active {
  color: #3E131B; /* Cambia el color al hacer clic */
  background-color: #CACECA;
}

a {
  color: #3E131B;
}

:root {
  --bs-border-radius-sm: 0;
}

@font-face {
  font-family: "DatBox";
  src: url("../fonts/DatBox.ttf");
}
@font-face {
  font-family: "Art-Post";
  src: url("../fonts/Art-Post.ttf");
}
@font-face {
  font-family: "cursif";
  src: url("../fonts/cursif.ttf");
}
@font-face {
  font-family: "didactgothic-regular";
  src: url("../fonts/didactgothic-regular.ttf");
}
@font-face {
  font-family: "font-printcess";
  src: url(../fonts/font-printcess.ttf);
}
@font-face {
  font-family: "rockersquad";
  src: url(../fonts/rockersquad.ttf);
}/*# sourceMappingURL=styles.css.map */