//Config. de la página y setup de variables y main base.
@import "./partials/variables";
@import "./partials/reset";
@import "./partials/main";
//Media Queries
@import "./partials/mquery769x1200";
@import "./partials/mquery601x768";
@import "./partials/mquery480x600";
//Partes del Cuerpo de página.
@import "./partials/header";
@import "./partials/left-column";
@import "./partials/right-column";
@import "./partials/footer";
//Secciones de la web por página.
@import "./partials/grid-programacion";
@import "./partials/auspiciantes";
@import "./partials/radiolive";
@import "./partials/contacto";
@import "./partials/_botones-efectos";
//-------------------------- Fin de queries --------------------------
:root {
    --bs-border-radius-sm: 0;
}

@font-face {
    font-family: "DatBox";
    src: url("../fonts/DatBox.ttf")
}

@font-face {
    font-family: "Art-Post";
    src: url("../fonts/Art-Post.ttf")
}

@font-face {
    font-family: "cursif";
    src: url("../fonts/cursif.ttf")
}

@font-face {
    font-family: "didactgothic-regular";
    src: url("../fonts/didactgothic-regular.ttf")
}

@font-face {
    font-family: "font-printcess";
    src: url(../fonts/font-printcess.ttf)
}

@font-face {
    font-family: "rockersquad";
    src: url(../fonts/rockersquad.ttf)
}
