//Config. de la página y setup de variables y main base.
@import "./partials/variables";
@import "./partials/reset";
@import "./partials/main";
//Media Queries
@import "./partials/mquery769x1200";
@import "./partials/mquery601x768";
@import "./partials/mquery480x600";
@import "./partials/mquery300x479";
@import "./partials/mquery200";
//Partes del Cuerpo de página.
@import "./partials/header";
@import "./partials/left-column";
@import "./partials/right-column";
@import "./partials/footer";
//Secciones de la web por página.
@import "./partials/grid-programacion";
@import "./partials/auspiciantes";
@import "./partials/radiolive";
@import "./partials/contacto";
//Efectos y Animaciones
@import "./partials/animaciones";
@import "./partials/_botones-efectos";
//-------------------------- Fin de queries --------------------------
:root {
    --bs-border-radius-sm: 0;
}

@font-face {
    font-family: "DatBox";
    src: url("../fonts/DatBox.ttf")
}

@font-face {
    font-family: "Art-Post";
    src: url("../fonts/Art-Post.ttf")
}

@font-face {
    font-family: "cursif";
    src: url("../fonts/cursif.ttf")
}

@font-face {
    font-family: "didactgothic-regular";
    src: url("../fonts/didactgothic-regular.ttf")
}

@font-face {
    font-family: "vintage";
    src: url(../fonts/vintage.ttf)
}

@font-face {
    font-family: "jupiteroid-regular";
    src: url(../fonts/jupiteroid-regular.ttf)
}


@font-face {
    font-family: "fistalle";
    src: url(../fonts/fistalle.ttf)
}

@font-face {
    font-family: "rockersquad";
    src: url(../fonts/rockersquad.ttf)
}

//Styles defaults de H1 a H6.

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
