.form-container {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    background-color: #0A2733;
    padding: 20px;
    border-radius: 10px;
}

.form-style-c {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    color: #CACECA;
    font-weight: bold;
}

.form-group {
    text-align: center;    
    margin: 15px;
}

.form-group select {
    height: 100px; /* Ajusta la altura según tus preferencias */
    
}

.preview-container {
    margin-top: 20px;
}

.preview {
    background-color: #3E131B;
    color: #CACECA;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.f-g-confg {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.estilos {
    display:flex;
    
}

.btn-group {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top:0px !important;
    
}

.btn-group-vertical {
    margin-top: 10px; /* Ajusta según sea necesario */
    display:flex;
    flex-direction: row;
    gap: 0px;
    width: 100%;
    margin-bottom: 5px; /* Ajusta según sea necesario */
}

.estilos-text-c, .conf-cont {
    color:$color2 !important;
    border: 0;
    height: 25px;
    background-image: linear-gradient(to right, rgba(10, 39, 51, 0.5), #7D2636, rgba(10, 39, 51, 0.5));
}

button{
    display:flex;
    margin: 0px !important;
}

.preview {
    font-weight: bold;
}

.btn {
    background-color: $color1;
}

.btn-snd {
    background-color: $color2;
    color: $color1;
    font-weight: bold;
    border-color: $color3;
}

.btn-snd:hover  {
    background-color: $color5;
    color: $color4;
    border-color: $color5;
    font-weight: bold;
}

.btn-snd:active {
    background-color: $colorfondo !important;
    color: $color2 !important;
    font-weight: bold !important;
    border-color: $color4 !important;
}

.btn:hover {
    background-color: $color3;
    color: $color2;
    font-weight: bold;
}

.form-style-1, .form-style-2, .form-style-3 {
    display:flex;
    flex-direction: column;
    width: 55%;
    font-weight: bold;
}

.form-style-4 {
    display:flex;
    flex-direction: column;
    width: 95%;
}

.btnsubmit {
    margin-top: 1rem;
}

.btn-danger {
    font-weight: normal;
    padding: 2px;
    border-color: $color2;
}

.rpb-configcontacto {
    padding-top: 3rem;
}

.wapp2 {
    text-align: center; 
}

.wapp1, .wapp3 {
    text-align: center;
    padding-top: 2rem;
    font-family: "didactgothic-regular";
}

.wapp1 {
    padding-top: 3rem;
    padding-bottom: 20px;
}

.wapp3 {
    padding-top: 20px;
}

.whatsapp-color {
    text-align: center;
    width: 8rem;
    font-size: 25px;
    color: #25D366;
    background-color: #128C7E;
    border-radius: 2rem;
    border: 4px solid #075E54;
    padding: 0;
}

.whatsapp-color:hover {
    color: #075E54;
    background-color: #25D366;
    border-radius: 2rem;
    border: 4px solid #128C7E
}

.img-dedo {
    display: flex;
    justify-content: center;
    transform: scaleY(-1);
    padding-bottom: 3rem;
}

@media (max-width: 1201px) {
    .h2-title-base {
        padding-bottom: 2rem;
    }
}

@media (max-width: 773px) {
    .form-container {
        max-width: 450px;
    }
    .h1-title-base {
        font-size: 2.5rem;
    }
    .h2-title-base {
        font-size: 2rem;
    }
}

@media (max-width: 471px) {
    .form-container {
        max-width: 370px;
    }
}

@media (max-width: 371px) {
    .form-container {
        max-width: 340px;
    }
}