.footer-bgd {
    background-color: $color3;
    color:$color2;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-footer {
    background-color: $color3;
    overflow: hidden;
}

.navbar-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-footer li {
    float: left;
}

// .navbar-footer a {
//     display: block;
//     border-radius: 5rem;
//     color:$color2;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
// }
.navbar-footer a {
    margin: 8px;
    display: block;
    border-radius: 2rem;
    color: #CACECA;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}

.navbar-footer a:hover {
    background-color: #ddd;
    color: black;
}

.footer-content {
    display: flex;
    justify-content: center;
    background-color: $color3;
}

.copyright-bottom {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 6px;
    margin-bottom:0rem;
    font-size: 15px;
}

.ir-arriba {
    text-align: center;
    font-weight: bolder;
    padding: 3px;
    font-size: 15px;
    bottom: 10px;
    right: 10px;
    position:fixed;
    cursor: pointer;
    margin-bottom: 0.5cm;
    margin-right: 0.5cm;
    color: $color3;
    background-color: $color2;
    border-radius: 1cm;
    border: 2px solid $color1;
    width: auto;
    font-family: "didactgothic-regular";
    text-decoration: none;
    outline: none;

}

.ir-arriba:hover {
    background-color: $color3;
    color: $color2;
    font-weight: bolder;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: $color3;
    color: $color2;
    font-weight: bolder;
}