.logo-radio {
    display:flex;
    justify-content: center;
    padding: 1rem;
    filter: brightness(4);
}

.center-logo-radio {
    margin-bottom:13px;
    max-width: 100%;
}

.pg-cnfg3 {
    display: flex;
    justify-content: center;
}

.pg-cnfg1 {
    display: flex;
    justify-content: center;
}

.title-programa-destacado {
    max-width: 70%;
    filter: brightness(4);
}

.img-programa-destacado {
    max-width: 70%;
}

.txt-programa-destacado {
    font-family: "font-printcess";
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 35px;
    text-align: center;
}

.txt-monito-coder {
    font-family: "font-printcess";
    padding-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 23px;
    text-align: center;
}

.img-monito-coder {
    max-width: 60%;
    padding-bottom: 1rem;
}

.text-pd {
    font-size: 35px;
    line-height: 1.9rem;// line-height para renglones en horizontal
}