.grid-body-main {
    min-height: 1250px; // Establecer el mínimo de altura según tus necesidades
}

main {
    background-color: $color2;
}

.dont-share-high-reso {
    display:none;
}

.grid-body-main {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
}

.columna-left-main {
    color:$color2;
    background-color: $color1; /* Color de fondo para la primera columna */
}

.column-right-main {
    color:$color1;
    background-color: $color2; /* Color de fondo para la segunda columna */
}

// .h3-aus {
//     color: $color3;
//     font-family: "vintage";
//     text-align: center;
// }

hr {
    margin-top:0;
    margin-bottom:0;
    color:$color2;
}

.h1-title-base {
    font-family: "vintage";
    text-align: center;
    margin-top:2.5rem;
    font-size: 40px;
}

.h2-title-base {
    font-family: "vintage";
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    margin: 5px;
    margin-top: 1rem;
    background: -webkit-linear-gradient($color1, $color5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.radiolive-h3 {
    font-family: "vintage";
    font-size: 30px;
    text-align: center;
    color:$color1;
}

strong {
    color:$color3;
}

.radio-popup-boton {
    padding-bottom: 3rem;
}