.grid-body-main {
    min-height: 1250px; // Establecer el mínimo de altura según tus necesidades
}

main {
    background-color: $color2;
}

.dont-share-high-reso {
    display:none;
}

.grid-body-main {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
}

.columna-left-main {
    color:$color2;
    background-color: $color1; /* Color de fondo para la primera columna */
}

.column-right-main {
    color:$color1;
    background-color: $color2; /* Color de fondo para la segunda columna */
}

hr {
    margin-top:0;
    margin-bottom:0;
    color:$color2;
}

.h1-title-base {
    font-family: "font-printcess";
    text-align: center;
    padding-bottom: 5px;
    font-size: 4rem;
    margin: 5px;
}

.h2-title-base {
    font-family: "font-printcess";
    text-decoration: underline;
    font-size: 3.5rem;
    text-align: center;
    font-weight: normal;
    margin: 5px;
}

strong {
    color:$color3;
}

.radio-popup-boton {
    padding-bottom: 3rem;
}