@media (min-width: 601px) and (max-width: 768px) {
    //********* MEDIA PARA INDEX.HTML Query 601-768 *********
    .grid-body-main {
        display: grid;
        grid-template-columns: 20% 80%;
        height: 100%;
    }
    .navbar-primary { //Tamaño botones Header
        background-color: $color3;
        overflow: hidden;
        font-size: 18px;
    }
    .banner-top-main {
        .navbar-primary a {
            padding: 14px 09px;
        }
    }

    .dont-share-high-reso {
        display:none;
    }
//****************** COLUMNA IZQUIERDA Query 601-768 ******************
    .columna-left-content {
        .text-pd {
            font-size: 15px;
            line-height: 1.5rem;// line-height para renglones en horizontal
        }
        .txt-monito-coder {
            font-size: 16px;
        }
        .monito-coder {
            height: 70%;
            .img-monito-coder {
                height: 70%;
            }
        }   
        .pg-cnfg3 {
            justify-content: center;
        }
    }

//****************** COLUMNA DERECHA Query 601-768 ******************
    .column-right-main {
        .body-text-ausp, .body-text-content-p2 {
            font-size: 20px;
        }
        .animated-title3 {
            font-size: 40px;
        }
        .right-content-body {
        font-size: 20px;
        padding-top:0rem;
        padding-bottom: 2rem;
        padding-left: 5rem;
        padding-right: 5rem; 
        }

        .radiolive-h3 {
            font-family: "vintage";
            font-size: 18px;
            text-align: center;
            color:$color1;
        }

        .forte1 {
            font-size: 20px;
        }
        .h1-title-base {
            font-size: 20px;
            margin-left: 5rem;
            margin-right: 5rem;
        }
        .h2-title-base {
            margin-top: 2rem;
            font-size: 20px;
            margin-left: 7rem;
            margin-right: 7rem;
        }
      // Estilos para el iframe
    .botom-right-config {
        .animate__animated.animate__fadeIn.animate__delay-4s.radio-popup-boton {
            button {
                width: 250px;
                height: 50px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }// Cierra Estilos para el iframe
}
//****************** FOOTER Query 601-768 ******************
    .footer-content {
        .navbar-footer a {
            padding: 2px 3px;
        }      
    }
    footer {
        .ir-arriba {
            font-size: 10px;
        }
        .copy-config {
            font-size: 14px;
        }
    }
//********* MEDIA PARA CONTACTO.HTML Query 601-768 *********
    .column-right-main {
        .form-container {
            transform: scale(0.8); // Reducción del 30%
            transform-origin: center center; // Mantener la esquina superior izquierda como punto de origen
            margin: 0 auto;
        }
    }
//********* MEDIA PARA RADIOLIVE.HTML Query 601-768 *********
    .radio-rep {
        padding-bottom: 3rem;
    }
}




