$colorfondo: #333;
$color1: #0A2733;
$color2: #CACECA;
$color3: #3E131B;
$color4: #533956;
$color5: #7D2636;

$fondazo: linear-gradient(to right, #333399, #ff00cc); //Luego en css llamamos con un background-color: $fondazo;